/* line 1, ../scss/798.scss */
body {
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.29804), rgba(0, 0, 0, 0.95294));
  background-image: radial-gradient(rgba(0, 0, 0, 0.29804), rgba(0, 0, 0, 0.95294));
  background-color: #AD00B5;
}

/* line 5, ../scss/798.scss */
#_798 {
  display: none;
  height: 100%;
  width: 100%;
}
/* line 9, ../scss/798.scss */
#_798 .head {
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
}
/* line 15, ../scss/798.scss */
#_798 .head .input {
  left: 50%;
  margin-left: -136px;
  margin-top: 3em;
}
/* line 19, ../scss/798.scss */
#_798 .head .input input {
  width: 190px;
  padding: 1em;
  border: 0;
}
/* line 26, ../scss/798.scss */
#_798 .head h1 {
  font-size: 4.52em;
}
/* line 27, ../scss/798.scss */
#_798 .head h2 {
  font-size: 2.35em;
}
/* line 28, ../scss/798.scss */
#_798 .head h1, #_798 .head h2 {
  font-weight: normal;
}
/* line 29, ../scss/798.scss */
#_798 .head h3, #_798 .head h2 {
  visibility: hidden;
}
/* line 30, ../scss/798.scss */
#_798 .head h3 {
  opacity: .8;
  font-size: 1.04em;
}
/* line 31, ../scss/798.scss */
#_798 .head .bar {
  margin-top: 3.6em;
  margin-left: 10px;
}
/* line 34, ../scss/798.scss */
#_798 .head .bar b {
  font-weight: normal;
  margin: 0 19px;
  color: #999;
}
/* line 35, ../scss/798.scss */
#_798 .head .bar a {
  color: #fff;
}
/* line 36, ../scss/798.scss */
#_798 .head .bar .primary, #_798 .head .bar .basic {
  width: 170px;
  height: 46px;
  padding: 0;
  vertical-align: top;
  line-height: 44px;
}
/* line 43, ../scss/798.scss */
#_798 .head .bar .ui.button.basic {
  margin-left: 1.55em;
}
/* line 46, ../scss/798.scss */
#_798 .head .bar .link:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}
