@charset "UTF-8";
/* line 1, ../scss/index/_head.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
}

/* line 2, ../scss/index/_head.scss */
.headtop .iconfont {
  display: inline-block;
  float: left;
  height: 32px;
  line-height: 32px;
  margin-top: 17px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  margin-right: 22px;
  width: 32px;
  color: rgba(255, 255, 255, 0.5);
}

/* line 3, ../scss/index/_head.scss */
.headtop .iconfont:hover {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1);
}

/* line 4, ../scss/index/_head.scss */
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid dashed dashed;
  position: relative;
  vertical-align: -15px;
  margin-left: 10px;
  border-width: 5px;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5) transparent transparent;
}

/* line 5, ../scss/index/_head.scss */
.headtop .iconnow {
  background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.2);
}

/* line 6, ../scss/index/_head.scss */
.headtop {
  height: 66px;
  line-height: 66px;
  padding-left: 30px;
  background: none repeat scroll 0% 0% #34383c;
}

/* line 7, ../scss/index/_head.scss */
.icon-earth:before {
  content: "";
  font-size: 18px;
}

/* line 8, ../scss/index/_head.scss */
.icon-menu:before {
  content: "";
}

/* line 9, ../scss/index/_head.scss */
.icon-clock:before {
  content: "";
}

/* line 10, ../scss/index/_head.scss */
.icon-search:before {
  content: "";
  font-size: 17px;
}

/* line 11, ../scss/index/_head.scss */
.icon-talk12:before {
  content: "";
}

/* line 12, ../scss/index/_head.scss */
#menu-footer li a {
  font-size: 12px;
}

/* line 15, ../scss/index/_head.scss */
._007 {
  float: right;
}

/* line 18, ../scss/index/_head.scss */
._008 {
  margin-right: 16px;
}

/* line 21, ../scss/index/_head.scss */
._009 {
  background: none repeat scroll 0% 0% transparent;
  color: #6f6f6f;
  margin-right: 4px;
}

/* line 26, ../scss/index/_head.scss */
#content ._010 {
  border-bottom: 1px solid;
  margin: 0px 3px;
  font-size: 16px;
}

/* line 31, ../scss/index/_head.scss */
._011 {
  background: none repeat scroll 0% 0% #1e2226;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  float: right;
  height: 66px;
  line-height: 66px;
  padding: 0px 14px 0px 15px;
}

/* line 40, ../scss/index/_head.scss */
._012 {
  background: url("http://att.x2.hiapk.com/forum/201302/13/133834iom8npnwwiniq1pq.jpg") repeat scroll 0px 0px/cover transparent;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5) inset;
  display: inline-block;
  height: 42px;
  margin-right: 11px;
  margin-top: 0px;
  vertical-align: -16px;
  width: 42px;
}

/* line 50, ../scss/index/_head.scss */
._013 {
  background: none repeat scroll 0px 0px rgba(150, 0, 0, 0.9);
  border-radius: 12px;
  border: 1px solid;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: bold;
  line-height: 21px;
  margin-left: -7px;
  margin-top: -3px;
  padding: 0px 7px;
  position: absolute;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

/* line 64, ../scss/index/_head.scss */
#post-42 .post-body p a {
  font-size: 16px;
}

@font-face {
  font-family: 'icon';
  src: url("//at.alicdn.com/t/font_1428319489_4957662.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1428319489_4957662.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1428319489_4957662.woff") format("woff"), url("//at.alicdn.com/t/font_1428319489_4957662.ttf") format("truetype"), url("//at.alicdn.com/t/font_1428319489_4957662.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 10, ../scss/index/_sidebar.scss */
#about {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: left 0.15s ease-in-out 0s;
          transition: left 0.15s ease-in-out 0s;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 11, ../scss/index/_sidebar.scss */
body.home #about #details .profile h1 a:before, body.home #about #details .profile h2 a:before {
  display: none;
}

/* line 12, ../scss/index/_sidebar.scss */
#details {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  color: white;
  -webkit-transition: all 0.15s ease-in-out 0s;
          transition: all 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 100%;
  padding-top: 35px;
}

/* line 13, ../scss/index/_sidebar.scss */
#details > * {
  display: inline-block;
  width: 100%;
}

/* line 14, ../scss/index/_sidebar.scss */
#details .profile {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 30px;
}

/* line 15, ../scss/index/_sidebar.scss */
#details .profile .avatar {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  margin-bottom: 20px;
  -webkit-transition: all 0.15s ease-in-out 0s;
          transition: all 0.15s ease-in-out 0s;
  border: 5px solid rgba(255, 255, 255, 0.1);
}

/* line 16, ../scss/index/_sidebar.scss */
#details .profile .avatar:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* line 17, ../scss/index/_sidebar.scss */
#details .profile h1, #details .profile h2 {
  margin-bottom: 5px;
  color: inherit;
  line-height: 34px;
  font-size: 22px;
}

/* line 18, ../scss/index/_sidebar.scss */
#details .profile h1 a, #details .profile h2 a {
  color: inherit;
  position: relative;
}

/* line 19, ../scss/index/_sidebar.scss */
#details .profile h1 a:before, #details .profile h2 a:before {
  content: "←";
  position: absolute;
  left: 0px;
  font-size: 18px;
  font-weight: normal;
  font-family: "Open Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  opacity: 0;
  -webkit-transition: all 0.15s ease-in-out 0s;
          transition: all 0.15s ease-in-out 0s;
}

/* line 20, ../scss/index/_sidebar.scss */
#details .profile h1 a:hover:before, #details .profile h2 a:hover:before {
  left: -30px;
  opacity: 1;
}

/* line 21, ../scss/index/_sidebar.scss */
#details .profile p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 20px;
  letter-spacing: -0.035em;
  font-size: 16px;
}

/* line 22, ../scss/index/_sidebar.scss */
#details .profile h1 a:hover {
  color: white;
  -webkit-transition: color 0.15s ease-in-out 0s;
          transition: color 0.15s ease-in-out 0s;
}

/* line 23, ../scss/index/_sidebar.scss */
#navigation {
  display: none;
  width: 100%;
  height: 100vh;
  padding: 100px 30px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  color: white;
  overflow-y: auto;
  max-height: 100vh;
}

/* line 24, ../scss/index/_sidebar.scss */
#navigation .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: -webkit-calc(100vh - 115px);
  height: calc(100vh - 115px);
}

/* line 25, ../scss/index/_sidebar.scss */
#navigation nav {
  width: 100%;
  display: inline-block;
}

/* line 26, ../scss/index/_sidebar.scss */
#navigation nav ul li a {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-size: 16px;
  -webkit-transition: all 0.15s ease-in-out 0s;
          transition: all 0.15s ease-in-out 0s;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  line-height: 20px;
  padding: 20px 0px;
}

/* line 27, ../scss/index/_sidebar.scss */
#navigation nav ul li a:hover {
  color: white;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
}

/* line 28, ../scss/index/_sidebar.scss */
#navigation #search {
  display: inline-block;
  width: 100%;
}

/* line 29, ../scss/index/_sidebar.scss */
#navigation #search input {
  line-height: 20px;
  padding: 20px 0px;
  text-align: center;
  height: 60px;
  background: none repeat scroll 0% 0% transparent;
  border: 0px none;
  color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  font-size: 16px;
}

/* line 30, ../scss/index/_sidebar.scss */
#navigation #search input:-moz-placeholder, #navigation #search input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* line 31, ../scss/index/_sidebar.scss */
#navigation #search input:hover {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
  color: white;
}

/* line 32, ../scss/index/_sidebar.scss */
#navigation #search input:hover:-moz-placeholder, #navigation #search input:hover::-moz-placeholder {
  color: white;
}

/* line 33, ../scss/index/_sidebar.scss */
#navigation #search input:focus {
  background: none repeat scroll 0% 0% white;
  color: #6f6f6f;
}

/* line 34, ../scss/index/_sidebar.scss */
#navigation #search input:focus:-moz-placeholder, #navigation #search input:focus::-moz-placeholder {
  color: #b8b8b8;
}

/* line 35, ../scss/index/_sidebar.scss */
nav.social {
  padding: 10px 30px 0px;
  margin-top: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 36, ../scss/index/_sidebar.scss */
nav.social:before {
  width: 50px;
  height: 0px;
  content: "";
  display: block;
  top: 8px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}

/* line 37, ../scss/index/_sidebar.scss */
nav.social ul li {
  display: inline-block;
  margin: 0px 3px;
}

/* line 38, ../scss/index/_sidebar.scss */
nav.social ul li a {
  height: 32px;
  display: inline-block;
  font-family: "icon";
  text-align: left;
  opacity: 0.75;
  -webkit-transition: all 0.15s ease-in-out 0s;
          transition: all 0.15s ease-in-out 0s;
  color: #fff;
  font-size: 34px;
}

/* line 39, ../scss/index/_sidebar.scss */
nav.social ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* line 40, ../scss/index/_sidebar.scss */
nav.footer {
  position: absolute;
  bottom: 40px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  letter-spacing: 0px;
}

/* line 41, ../scss/index/_sidebar.scss */
nav.footer ul li {
  display: inline-block;
}

/* line 42, ../scss/index/_sidebar.scss */
nav.footer ul li:after {
  content: "∙";
  margin: 0px 8px;
  color: rgba(255, 255, 255, 0.25);
}

/* line 43, ../scss/index/_sidebar.scss */
nav.footer ul li:last-child:after {
  display: none;
}

/* line 44, ../scss/index/_sidebar.scss */
nav.footer ul li a {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.15s ease-in-out 0s;
          transition: color 0.15s ease-in-out 0s;
}

/* line 45, ../scss/index/_sidebar.scss */
nav.footer ul li a:hover {
  color: white;
}

/* line 46, ../scss/index/_sidebar.scss */
.cover .icon-clock {
  float: right;
  margin-right: 30px;
  margin-top: 16px;
}

/* line 47, ../scss/index/_sidebar.scss */
.cover .icon-clock:before {
  content: "";
  font-size: 26px;
  color: rgba(255, 255, 255, 0.5);
}

/* line 48, ../scss/index/_sidebar.scss */
.cover .icon-clock:hover:before {
  color: white;
}

/* line 49, ../scss/index/_sidebar.scss */
._000 {
  background-color: #444444;
  background-image: url("_img/2e2c868c087fb53582e88d12ed9575d2");
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 54, ../scss/index/_sidebar.scss */
._001 {
  font-weight: normal;
}

/* line 57, ../scss/index/_sidebar.scss */
._002 {
  padding-top: 6px;
}

/* line 60, ../scss/index/_sidebar.scss */
._003 {
  margin-left: 7px;
  position: absolute;
  top: -4px;
}

/* line 65, ../scss/index/_sidebar.scss */
._004 {
  margin-left: 7px;
  position: absolute;
  top: -4px;
}

/* line 70, ../scss/index/_sidebar.scss */
._005 {
  position: relative;
}

/* line 73, ../scss/index/_sidebar.scss */
._006 {
  background: none repeat scroll 0px 0px rgba(55, 150, 0, 0.4);
  border-radius: 10px;
  color: #ccc9bf;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: normal;
  margin-left: 6px;
  padding: 2px 7px;
  position: absolute;
  top: -3px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("_font/cjzkeoubrn4kerxqtauh3t8e0i7kzn-epnyo3hzu7kw.woff") format("woff");
}
@font-face {
  font-family: "iconfont";
  src: url("_font/font_1428312008_3082786.eot") format("embedded-opentype"), url("_font/font_1428312008_3082786.woff") format("woff"), url("_font/font_1428312008_3082786.ttf") format("truetype"), url("_img/font_1428312008_3082786.svg") format("svg");
}
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  src: local("Cabin Regular"), local("Cabin-Regular"), url("_font/yqomox5hr0-6ltd879t-pq.woff2") format("woff2"), url("_font/jegmtedzc-ih8jbshqxrya.woff") format("woff");
}
@font-face {
  font-family: "Calendas Plus";
  font-style: normal;
  font-weight: normal;
  src: url("_font/calendas_plus-webfont.eot") format("embedded-opentype"), url("_font/calendas_plus-webfont.woff2") format("woff2"), url("_font/calendas_plus-webfont.woff") format("woff"), url("_font/calendas_plus-webfont.ttf") format("truetype"), url("_img/calendas_plus-webfont.svg") format("svg");
}
/* line 27, ../scss/index.scss */
.left {
  float: left;
}

/* line 28, ../scss/index.scss */
.right {
  float: right;
}

/* line 29, ../scss/index.scss */
.alignleft {
  float: left;
  margin: 0px 30px 30px 0px;
}

/* line 30, ../scss/index.scss */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, date, tr, ul, var, video {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 31, ../scss/index.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 32, ../scss/index.scss */
a, ins, del {
  text-decoration: none;
}

/* line 33, ../scss/index.scss */
blockquote, q {
  quotes: none;
}

/* line 34, ../scss/index.scss */
ul, ol {
  list-style: outside none none;
}

/* line 35, ../scss/index.scss */
blockquote:before, blockquote:after, q:after, q:before {
  content: "";
}

/* line 36, ../scss/index.scss */
* {
  font-weight: normal;
}

/* line 37, ../scss/index.scss */
html {
  overflow-x: hidden;
}

/* line 38, ../scss/index.scss */
body {
  color: #6f6f6f;
  font-family: "Open Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 16px;
  letter-spacing: -0.035em;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  background: url("_img/groovepaper.png") repeat scroll 0% 0% transparent;
}

/* line 39, ../scss/index.scss */
hr {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.15);
  height: 1px;
  border: 0px none !important;
  width: 50px;
  float: left;
  clear: both;
  margin-bottom: 50px;
  margin-top: 30px;
}

/* line 40, ../scss/index.scss */
img {
  vertical-align: middle;
}

/* line 41, ../scss/index.scss */
a, a:visited {
  text-decoration: none;
  font: inherit;
  color: #7e8790;
}

/* line 42, ../scss/index.scss */
a:active {
  color: #1f69c1;
  outline: 0px none;
  text-decoration: none;
}

/* line 43, ../scss/index.scss */
a:hover {
  color: #2275d7;
  text-decoration: none;
}

/* line 44, ../scss/index.scss */
*::-moz-selection {
  background: none repeat scroll 0% 0% #4a90e2;
  color: white;
  text-shadow: none;
}

/* line 45, ../scss/index.scss */
h1, h2, h3 {
  font-family: "Calendas Plus","Georgia","Times","Times New Roman",serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -0.05em;
  color: #4d4d4d;
}

/* line 46, ../scss/index.scss */
h1 {
  font-size: 32px;
  line-height: 34px;
}

/* line 47, ../scss/index.scss */
h2 {
  font-size: 28px;
}

/* line 48, ../scss/index.scss */
h2 a {
  color: #4d4d4d;
}

/* line 49, ../scss/index.scss */
input, textarea, button, select {
  font-family: "Open Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 14px;
}

/* line 50, ../scss/index.scss */
input[type="search"] {
  -moz-appearance: textfield;
}

/* line 51, ../scss/index.scss */
input[type="text"], input[type="search"], input[type="date"], input[type="time"], input[type="password"], input[type="email"], input[type="url"], input[type="phone"], textarea {
  height: 40px;
  width: 100%;
  padding: 9px 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.15s ease-in-out 0s;
          transition: all 0.15s ease-in-out 0s;
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.7);
  margin: 0px;
}

/* line 52, ../scss/index.scss */
input[type="text"]:focus, input[type="search"]:focus, input[type="date"]:focus, input[type="time"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="phone"]:focus, textarea:focus {
  background: none repeat scroll 0% 0% white;
  outline: medium none;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
  border-color: #4a90e2;
}

/* line 53, ../scss/index.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0px none;
  padding: 0px;
}

/* line 54, ../scss/index.scss */
#main {
  min-height: 100vh;
  background: none repeat scroll 0% 0% rgba(200, 194, 202, 0.1);
}

/* line 55, ../scss/index.scss */
#main:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
  font-size: 0px;
}

/* line 56, ../scss/index.scss */
#main .left-column {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 5;
  width: 30%;
}

/* line 57, ../scss/index.scss */
#main .left-column > .cover {
  -webkit-transition: background 0.15s ease-in-out 0s;
          transition: background 0.15s ease-in-out 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
  background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.6);
}

/* line 58, ../scss/index.scss */
#main .right-column {
  float: right;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: url("_img/groovepaper.png") repeat scroll 0% 0% transparent;
  padding-left: 30%;
}

/* line 59, ../scss/index.scss */
#main .right-column > .inner {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 750px;
  margin: 0px auto;
  padding: 60px 75px;
}

/* line 60, ../scss/index.scss */
footer#footer {
  background: none repeat scroll 0% 0% rgba(200, 194, 202, 0.1);
  border-top: 1px solid rgba(200, 194, 202, 0.3);
  clear: both;
  font-size: 12px;
  letter-spacing: 0px;
  color: rgba(184, 184, 184, 0.8);
  padding-top: 0px;
}

/* line 61, ../scss/index.scss */
footer#footer:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
  font-size: 0px;
}

/* line 62, ../scss/index.scss */
footer#footer > .inner {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 750px;
  margin: 0px auto;
  padding: 50px 75px 80px;
  line-height: 32px;
}

/* line 63, ../scss/index.scss */
footer#footer .rct {
  width: 28px;
  height: 32px;
  display: inline-block;
  text-indent: -9999em;
  background: url("_img/logo-rc.svg") repeat scroll 0% 0% transparent;
  opacity: 0.2;
  margin-left: 2px;
  -webkit-transition: all 0.15s ease-in-out 0s;
          transition: all 0.15s ease-in-out 0s;
}

/* line 64, ../scss/index.scss */
footer#footer .rct:hover {
  opacity: 1;
}

/* line 66, ../scss/index.scss */
#nav-trigger {
  position: absolute;
  left: -9999em;
  visibility: hidden;
  opacity: 0;
}

/* line 67, ../scss/index.scss */
#nav-trigger:checked + .left-column .cover {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
}

/* line 68, ../scss/index.scss */
#nav-trigger:checked + .left-column #navigation {
  display: inline-block;
}

/* line 69, ../scss/index.scss */
#nav-trigger:checked + .left-column #details {
  display: none;
}

/* line 70, ../scss/index.scss */
hr {
  width: 50px;
  border: 1px solid black;
}

/* line 71, ../scss/index.scss */
.right-column .post, .right-column .page, .right-column .attachment {
  clear: both;
  margin-bottom: 10px;
}

/* line 72, ../scss/index.scss */
.right-column .post > header, .right-column .page > header, .right-column .attachment > header {
  margin-bottom: 20px;
}

/* line 73, ../scss/index.scss */
.right-column .post > header .thumbnail, .right-column .page > header .thumbnail, .right-column .attachment > header .thumbnail {
  margin-top: 20px;
  display: block;
}

/* line 74, ../scss/index.scss */
.right-column .post > header h1, .right-column .post > header h2, .right-column .page > header h1, .right-column .page > header h2, .right-column .attachment > header h1, .right-column .attachment > header h2 {
  font-size: 32px;
  line-height: 32px;
}

/* line 75, ../scss/index.scss */
.right-column .post > header h1 a, .right-column .post > header h1 a:visited, .right-column .post > header h2 a, .right-column .post > header h2 a:visited, .right-column .page > header h1 a, .right-column .page > header h1 a:visited, .right-column .page > header h2 a, .right-column .page > header h2 a:visited, .right-column .attachment > header h1 a, .right-column .attachment > header h1 a:visited, .right-column .attachment > header h2 a, .right-column .attachment > header h2 a:visited {
  color: inherit;
  -webkit-transition: color 0.15s ease-in-out 0s;
          transition: color 0.15s ease-in-out 0s;
}

/* line 76, ../scss/index.scss */
.right-column .post > header h1 a:hover, .right-column .post > header h1 a:visited:hover, .right-column .post > header h2 a:hover, .right-column .post > header h2 a:visited:hover, .right-column .page > header h1 a:hover, .right-column .page > header h1 a:visited:hover, .right-column .page > header h2 a:hover, .right-column .page > header h2 a:visited:hover, .right-column .attachment > header h1 a:hover, .right-column .attachment > header h1 a:visited:hover, .right-column .attachment > header h2 a:hover, .right-column .attachment > header h2 a:visited:hover {
  color: black;
  text-decoration: none;
}

/* line 77, ../scss/index.scss */
.right-column .post footer, .right-column .page footer, .right-column .attachment footer {
  text-align: right;
  font-family: "Calendas Plus","Georgia","Times","Times New Roman",serif;
  font-style: italic;
  color: #b8b8b8;
  font-size: 14px;
  letter-spacing: 0px;
  clear: both;
}

/* line 78, ../scss/index.scss */
.right-column .post footer a, .right-column .post footer a:visited, .right-column .page footer a, .right-column .page footer a:visited, .right-column .attachment footer a, .right-column .attachment footer a:visited {
  color: inherit;
  -webkit-transition: color 0.15s ease-in-out 0s;
          transition: color 0.15s ease-in-out 0s;
}

/* line 79, ../scss/index.scss */
.right-column .post footer a:hover, .right-column .post footer a:visited:hover, .right-column .page footer a:hover, .right-column .page footer a:visited:hover, .right-column .attachment footer a:hover, .right-column .attachment footer a:visited:hover {
  text-decoration: underline;
  color: #787878;
  -webkit-transition: color 0.15s ease-in-out 0s;
          transition: color 0.15s ease-in-out 0s;
}

/* line 80, ../scss/index.scss */
.right-column .post footer span, .right-column .page footer span, .right-column .attachment footer span {
  display: inline-block;
  padding: 0px 10px;
  opacity: 0.5;
  font-size: 10px;
}

/* line 81, ../scss/index.scss */
.right-column .post footer .right, .right-column .page footer .right, .right-column .attachment footer .right {
  float: right;
  white-space: nowrap;
  min-width: 50%;
}

/* line 82, ../scss/index.scss */
.right-column .post img, .right-column .page img, .right-column .attachment img {
  border-radius: 4px;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  max-width: 100%;
  height: auto;
}

/* line 83, ../scss/index.scss */
.right-column .post figure, .right-column .page figure, .right-column .attachment figure {
  margin-bottom: 10px;
}

/* line 84, ../scss/index.scss */
.right-column .post figure figcaption, .right-column .page figure figcaption, .right-column .attachment figure figcaption {
  text-align: center;
  color: #b8b8b8;
  padding: 10px 0px;
  font-family: "Calendas Plus","Georgia","Times","Times New Roman",serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
}

/* line 85, ../scss/index.scss */
.right-column .post p, .right-column .page p, .right-column .attachment p {
  margin-bottom: 10px;
  font: inherit;
}

/* line 86, ../scss/index.scss */
.right-column .post p.url, .right-column .page p.url, .right-column .attachment p.url {
  color: #4d4d4d;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 87, ../scss/index.scss */
.right-column .post p.url a, .right-column .post p.url a:visited, .right-column .page p.url a, .right-column .page p.url a:visited, .right-column .attachment p.url a, .right-column .attachment p.url a:visited {
  color: inherit;
  -webkit-transition: color 0.15s ease-in-out 0s;
          transition: color 0.15s ease-in-out 0s;
}

/* line 88, ../scss/index.scss */
.right-column .post p .more-link, .right-column .page p .more-link, .right-column .attachment p .more-link {
  height: 23px;
  line-height: 25px;
  margin-bottom: 10px;
  color: #b8b8b8;
}

/* line 89, ../scss/index.scss */
.right-column .post p .more-link span, .right-column .page p .more-link span, .right-column .attachment p .more-link span {
  display: inline-block;
  border-radius: 4px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1);
  color: #b8b8b8;
  padding: 0px 10px;
  height: 20px;
  line-height: 21px;
  letter-spacing: 1px;
  margin: 2px;
  -webkit-transition: all 0.15s ease-in-out 0s;
          transition: all 0.15s ease-in-out 0s;
}

/* line 90, ../scss/index.scss */
.right-column .post p .more-link:hover span, .right-column .page p .more-link:hover span, .right-column .attachment p .more-link:hover span {
  background: none repeat scroll 0% 0% #6f6f6f;
  color: white;
  -webkit-transition: color 0.15s ease-in-out 0s;
          transition: color 0.15s ease-in-out 0s;
}

/* line 91, ../scss/index.scss */
.right-column .post a, .right-column .page a, .right-column .attachment a {
  -webkit-transition: color 0.15s ease-in-out 0s;
          transition: color 0.15s ease-in-out 0s;
}

/* line 92, ../scss/index.scss */
.right-column .post a:hover, .right-column .page a:hover, .right-column .attachment a:hover {
  text-decoration: underline;
}

/* line 93, ../scss/index.scss */
.right-column .post blockquote, .right-column .page blockquote, .right-column .attachment blockquote {
  padding: 20px 0px 20px 50px;
}

/* line 94, ../scss/index.scss */
.right-column .post blockquote p, .right-column .page blockquote p, .right-column .attachment blockquote p {
  font-size: 32px;
  font-family: "Calendas Plus","Georgia","Times","Times New Roman",serif;
  font-style: italic;
  line-height: 44px;
  color: #4d4d4d;
  letter-spacing: -0.04em;
  margin-bottom: 15px;
}

/* line 95, ../scss/index.scss */
.right-column .post blockquote p:first-child, .right-column .page blockquote p:first-child, .right-column .attachment blockquote p:first-child {
  text-indent: 55px;
  position: relative;
}

/* line 96, ../scss/index.scss */
.right-column .post blockquote p:first-child:before, .right-column .page blockquote p:first-child:before, .right-column .attachment blockquote p:first-child:before {
  content: "”";
  position: absolute;
  left: -60px;
  top: 10px;
  font-size: 92px;
  font-style: normal;
  font-weight: bold;
  opacity: 0.15;
}

/* line 97, ../scss/index.scss */
.right-column .post.format-quote .post-body, .right-column .page.format-quote .post-body, .right-column .attachment.format-quote .post-body {
  padding: 20px 0px 20px 50px;
}

/* line 98, ../scss/index.scss */
.right-column .post.format-quote .post-body blockquote, .right-column .page.format-quote .post-body blockquote, .right-column .attachment.format-quote .post-body blockquote {
  padding: 0px;
}

/* line 99, ../scss/index.scss */
.right-column .post.format-quote .post-body blockquote p, .right-column .page.format-quote .post-body blockquote p, .right-column .attachment.format-quote .post-body blockquote p {
  font-size: 32px;
  font-family: "Calendas Plus","Georgia","Times","Times New Roman",serif;
  font-style: italic;
  line-height: 44px;
  color: #4d4d4d;
  letter-spacing: -0.04em;
  margin-bottom: 15px;
}

/* line 100, ../scss/index.scss */
.right-column .post.format-quote .post-body blockquote p:first-child, .right-column .page.format-quote .post-body blockquote p:first-child, .right-column .attachment.format-quote .post-body blockquote p:first-child {
  text-indent: 55px;
  position: relative;
}

/* line 101, ../scss/index.scss */
.right-column .post.format-quote .post-body blockquote p:first-child:before, .right-column .page.format-quote .post-body blockquote p:first-child:before, .right-column .attachment.format-quote .post-body blockquote p:first-child:before {
  content: "”";
  position: absolute;
  left: -60px;
  top: 10px;
  font-size: 92px;
  font-style: normal;
  font-weight: bold;
  opacity: 0.15;
}

/* line 102, ../scss/index.scss */
.right-column .post footer.quote-author, .right-column .page footer.quote-author, .right-column .attachment footer.quote-author {
  font-family: "Open Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 16px;
  color: #6f6f6f;
  margin-bottom: 10px;
  font-style: normal;
}

/* line 103, ../scss/index.scss */
.right-column .post.has-post-thumbnail .thumbnail img, .right-column .page.has-post-thumbnail .thumbnail img, .right-column .attachment.has-post-thumbnail .thumbnail img {
  width: 100%;
  height: auto;
}

/* line 104, ../scss/index.scss */
.right-column .post.format-link h2 a, .right-column .page.format-link h2 a, .right-column .attachment.format-link h2 a {
  display: inline-block;
  padding-left: 40px;
  background: url("_img/ico-link.svg") no-repeat scroll 0px 5px transparent;
}

/* line 105, ../scss/index.scss */
.right-column .post.format-aside > header, .right-column .page.format-aside > header, .right-column .attachment.format-aside > header {
  margin-bottom: 5px;
}

/* line 106, ../scss/index.scss */
.right-column .post.format-aside > header h2, .right-column .page.format-aside > header h2, .right-column .attachment.format-aside > header h2 {
  font-size: 24px;
}

/* line 107, ../scss/index.scss */
.right-column .post.format-aside p, .right-column .page.format-aside p, .right-column .attachment.format-aside p {
  font-size: 14px;
  line-height: 20px;
}

/* line 108, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview, .right-column .page.format-gallery .gallery-preview, .right-column .attachment.format-gallery .gallery-preview {
  position: relative;
  margin-bottom: 10px;
  -webkit-transition: all 0.15s ease-in-out 0s;
          transition: all 0.15s ease-in-out 0s;
}

/* line 109, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview figure, .right-column .page.format-gallery .gallery-preview figure, .right-column .attachment.format-gallery .gallery-preview figure {
  position: absolute;
  z-index: 3;
  -webkit-transition: all 0.15s ease-in-out 0s;
          transition: all 0.15s ease-in-out 0s;
  background: none repeat scroll 0% 0% #f9f9f9;
}

/* line 110, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview figure:nth-child(1), .right-column .page.format-gallery .gallery-preview figure:nth-child(1), .right-column .attachment.format-gallery .gallery-preview figure:nth-child(1) {
  right: 0px;
  top: 0px;
  position: relative;
}

/* line 111, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview figure:nth-child(2), .right-column .page.format-gallery .gallery-preview figure:nth-child(2), .right-column .attachment.format-gallery .gallery-preview figure:nth-child(2) {
  z-index: 2;
  right: -5%;
  top: 5%;
  height: 90%;
  width: 90%;
}

/* line 112, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview figure:nth-child(2) img, .right-column .page.format-gallery .gallery-preview figure:nth-child(2) img, .right-column .attachment.format-gallery .gallery-preview figure:nth-child(2) img {
  opacity: 0.5;
}

/* line 113, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview figure:nth-child(3), .right-column .page.format-gallery .gallery-preview figure:nth-child(3), .right-column .attachment.format-gallery .gallery-preview figure:nth-child(3) {
  z-index: 1;
  right: -10%;
  top: 10%;
  height: 80%;
  width: 80%;
}

/* line 114, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview figure:nth-child(3) img, .right-column .page.format-gallery .gallery-preview figure:nth-child(3) img, .right-column .attachment.format-gallery .gallery-preview figure:nth-child(3) img {
  opacity: 0.25;
}

/* line 115, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview figure img, .right-column .page.format-gallery .gallery-preview figure img, .right-column .attachment.format-gallery .gallery-preview figure img {
  width: 100%;
  height: auto;
  max-height: 400px;
  -webkit-transition: all 0.15s ease-in-out 0s;
          transition: all 0.15s ease-in-out 0s;
}

/* line 116, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview:hover figure:nth-child(1), .right-column .page.format-gallery .gallery-preview:hover figure:nth-child(1), .right-column .attachment.format-gallery .gallery-preview:hover figure:nth-child(1) {
  right: 10%;
}

/* line 117, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview:hover figure:nth-child(2), .right-column .page.format-gallery .gallery-preview:hover figure:nth-child(2), .right-column .attachment.format-gallery .gallery-preview:hover figure:nth-child(2) {
  right: 0px;
}

/* line 118, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview:hover figure:nth-child(3), .right-column .page.format-gallery .gallery-preview:hover figure:nth-child(3), .right-column .attachment.format-gallery .gallery-preview:hover figure:nth-child(3) {
  right: -10%;
}

/* line 119, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview.hovered-1 figure:nth-child(1), .right-column .page.format-gallery .gallery-preview.hovered-1 figure:nth-child(1), .right-column .attachment.format-gallery .gallery-preview.hovered-1 figure:nth-child(1) {
  right: 95%;
}

/* line 120, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview.hovered-1 figure:nth-child(2), .right-column .page.format-gallery .gallery-preview.hovered-1 figure:nth-child(2), .right-column .attachment.format-gallery .gallery-preview.hovered-1 figure:nth-child(2) {
  right: 0px;
}

/* line 121, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview.hovered-1 figure:nth-child(2) img, .right-column .page.format-gallery .gallery-preview.hovered-1 figure:nth-child(2) img, .right-column .attachment.format-gallery .gallery-preview.hovered-1 figure:nth-child(2) img {
  opacity: 1;
}

/* line 122, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview.hovered-1 figure:nth-child(3), .right-column .page.format-gallery .gallery-preview.hovered-1 figure:nth-child(3), .right-column .attachment.format-gallery .gallery-preview.hovered-1 figure:nth-child(3) {
  right: -10%;
}

/* line 123, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview.hovered-2 figure:nth-child(1), .right-column .page.format-gallery .gallery-preview.hovered-2 figure:nth-child(1), .right-column .attachment.format-gallery .gallery-preview.hovered-2 figure:nth-child(1) {
  right: 95%;
}

/* line 124, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview.hovered-2 figure:nth-child(2), .right-column .page.format-gallery .gallery-preview.hovered-2 figure:nth-child(2), .right-column .attachment.format-gallery .gallery-preview.hovered-2 figure:nth-child(2) {
  right: 75%;
}

/* line 125, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview.hovered-2 figure:nth-child(3), .right-column .page.format-gallery .gallery-preview.hovered-2 figure:nth-child(3), .right-column .attachment.format-gallery .gallery-preview.hovered-2 figure:nth-child(3) {
  right: -10%;
}

/* line 126, ../scss/index.scss */
.right-column .post.format-gallery .gallery-preview.hovered-2 figure:nth-child(3) img, .right-column .page.format-gallery .gallery-preview.hovered-2 figure:nth-child(3) img, .right-column .attachment.format-gallery .gallery-preview.hovered-2 figure:nth-child(3) img {
  opacity: 1;
}

/* line 127, ../scss/index.scss */
.right-column .post.format-image .image, .right-column .page.format-image .image, .right-column .attachment.format-image .image {
  margin-bottom: 10px;
}

/* line 128, ../scss/index.scss */
.right-column .post.format-image .image img, .right-column .page.format-image .image img, .right-column .attachment.format-image .image img {
  width: 100%;
  height: auto;
}

/* line 129, ../scss/index.scss */
.right-column .post.format-image .image figure, .right-column .page.format-image .image figure, .right-column .attachment.format-image .image figure {
  width: 100% !important;
}

/* line 130, ../scss/index.scss */
.right-column .post.format-video iframe, .right-column .page.format-video iframe, .right-column .attachment.format-video iframe {
  max-width: 100%;
}

/* line 131, ../scss/index.scss */
.right-column .post.sticky > header h1, .right-column .post.sticky > header h2, .right-column .page.sticky > header h1, .right-column .page.sticky > header h2, .right-column .attachment.sticky > header h1, .right-column .attachment.sticky > header h2 {
  position: relative;
}

/* line 132, ../scss/index.scss */
.right-column .post.sticky > header h1:before, .right-column .post.sticky > header h2:before, .right-column .page.sticky > header h1:before, .right-column .page.sticky > header h2:before, .right-column .attachment.sticky > header h1:before, .right-column .attachment.sticky > header h2:before {
  content: "";
  position: absolute;
  left: -40px;
  top: 3px;
  width: 25px;
  height: 25px;
  background: url("_img/ico-star.svg") no-repeat scroll 0px 0px transparent;
}

/* line 133, ../scss/index.scss */
.right-column .post .size-auto, .right-column .post .size-full, .right-column .post .size-large, .right-column .post .size-medium, .right-column .post .size-thumbnail, .right-column .page .size-auto, .right-column .page .size-full, .right-column .page .size-large, .right-column .page .size-medium, .right-column .page .size-thumbnail, .right-column .attachment .size-auto, .right-column .attachment .size-full, .right-column .attachment .size-large, .right-column .attachment .size-medium, .right-column .attachment .size-thumbnail {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 970px) {
  /* line 135, ../scss/index.scss */
  #content .headtop .icon-talk12 {
    display: none;
  }
}
@media only screen and (max-width: 815px) and (min-width: 800px) {
  /* line 138, ../scss/index.scss */
  #content .headtop .icon-menu {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  /* line 143, ../scss/index.scss */
  #main .left-column {
    width: 80%;
    left: -70%;
  }

  /* line 144, ../scss/index.scss */
  #main .left-column #navigation, #main .left-column #details {
    display: none;
  }

  /* line 145, ../scss/index.scss */
  #main .right-column {
    padding-left: 10%;
  }

  /* line 146, ../scss/index.scss */
  #nav-trigger:checked + .left-column {
    left: 0px;
  }

  /* line 147, ../scss/index.scss */
  #nav-trigger:checked + .left-column .cover {
    overflow-y: auto;
    max-height: 100%;
  }

  /* line 148, ../scss/index.scss */
  #nav-trigger:checked + .left-column #navigation {
    display: block;
    overflow-y: visible;
    height: auto;
    padding: 20px 60px;
  }

  /* line 149, ../scss/index.scss */
  #nav-trigger:checked + .left-column #navigation .inner {
    height: auto;
  }

  /* line 150, ../scss/index.scss */
  #nav-trigger:checked + .left-column #details {
    display: block;
    padding: 20px 60px;
    position: relative;
    width: 100%;
    height: auto;
  }

  /* line 151, ../scss/index.scss */
  #nav-trigger:checked + .left-column #details:before {
    width: 50px;
    height: 0px;
    content: "";
    display: block;
    top: 0px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  }

  /* line 152, ../scss/index.scss */
  #nav-trigger:checked + .left-column #details .profile {
    padding: 0px;
  }

  /* line 153, ../scss/index.scss */
  #nav-trigger:checked + .left-column #details nav.social {
    padding: 20px 0px 0px;
  }

  /* line 154, ../scss/index.scss */
  #nav-trigger:checked + .left-column #details nav.footer {
    padding-top: 20px;
    margin-top: 20px;
    position: relative;
    bottom: 0px;
  }

  /* line 155, ../scss/index.scss */
  #nav-trigger:checked + .left-column #details nav.footer:before {
    width: 50px;
    height: 0px;
    content: "";
    display: block;
    top: 0px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  }
}
@media only screen and (max-width: 640px) {
  /* line 158, ../scss/index.scss */
  #main .left-column {
    width: 0px;
    left: -100%;
  }

  /* line 159, ../scss/index.scss */
  #main .left-column #navigation, #main .left-column #details {
    display: none;
  }

  /* line 160, ../scss/index.scss */
  #main .right-column {
    padding-left: 0px;
  }

  /* line 161, ../scss/index.scss */
  #main .right-column > .inner {
    padding: 20px;
  }

  /* line 162, ../scss/index.scss */
  #nav-trigger:checked + .left-column {
    width: 80%;
    left: 0px;
  }

  /* line 163, ../scss/index.scss */
  #nav-trigger:checked + .left-column #navigation {
    display: block;
    padding: 20px;
  }

  /* line 164, ../scss/index.scss */
  #nav-trigger:checked + .left-column #details {
    display: block;
    padding: 20px;
    position: relative;
  }

  /* line 165, ../scss/index.scss */
  #nav-trigger:checked + .left-column #details:before {
    width: 50px;
    height: 0px;
    content: "";
    display: block;
    top: 0px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  }

  /* line 166, ../scss/index.scss */
  #nav-trigger:checked + .left-column #details nav.footer {
    padding-top: 20px;
    margin-top: 20px;
    position: relative;
    bottom: 0px;
  }

  /* line 167, ../scss/index.scss */
  #nav-trigger:checked + .left-column #details nav.footer:before {
    width: 50px;
    height: 0px;
    content: "";
    display: block;
    top: 0px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  }

  /* line 168, ../scss/index.scss */
  #navigation nav ul li a {
    padding: 10px;
  }

  /* line 169, ../scss/index.scss */
  #navigation #search input {
    padding: 10px;
    height: 40px;
  }

  /* line 170, ../scss/index.scss */
  .post.format-quote .post-body {
    padding-left: 0px;
  }

  /* line 171, ../scss/index.scss */
  .post > footer .social > :last-child {
    margin-bottom: 0px;
  }

  /* line 172, ../scss/index.scss */
  .post.sticky > header h1, .post.sticky > header h2 {
    position: relative;
    margin-left: 40px;
  }

  /* line 173, ../scss/index.scss */
  body {
    padding-top: 24px;
  }

  /* line 174, ../scss/index.scss */
  footer#footer {
    text-align: center;
  }

  /* line 175, ../scss/index.scss */
  footer#footer .inner {
    padding: 30px 20px;
  }

  /* line 176, ../scss/index.scss */
  footer#footer .inner .left, footer#footer .inner .right {
    float: none;
  }
}
/* line 178, ../scss/index.scss */
.gallery .effect-slide:nth-child(2n+1) {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

/* line 179, ../scss/index.scss */
.gallery .effect-zoom:nth-child(2n+1) {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

/* line 180, ../scss/index.scss */
.strp-window {
  position: fixed;
  width: 0px;
  height: 100%;
  overflow: hidden;
  background: none repeat scroll 0% 0% #292929;
  font: 13px/20px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,sans-serif;
}

/* line 181, ../scss/index.scss */
.strp-window {
  margin-left: 40px;
  min-height: 100px;
  min-width: 100px;
}

/* line 186, ../scss/index.scss */
.strp-window, .strp-spinner-move {
  z-index: 99999;
}

/* line 187, ../scss/index.scss */
.strp-window, .strp-window [class^="strp-"], .strp-spinner-move, .strp-spinner-move [class^="strp-"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 188, ../scss/index.scss */
.strp-window {
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

/* line 189, ../scss/index.scss */
.strp-measured {
  margin: 0px !important;
  min-width: 0px !important;
  min-height: 0px !important;
}

/* line 190, ../scss/index.scss */
.strp-pages {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 191, ../scss/index.scss */
.strp-nav {
  position: absolute;
  top: 50%;
  width: 54px;
  height: 72px;
  margin: -36px 9px 0px;
  cursor: pointer;
  -moz-user-select: none;
}

/* line 192, ../scss/index.scss */
.strp-nav-previous {
  left: 0px;
}

/* line 193, ../scss/index.scss */
.strp-nav-next {
  right: 0px;
  left: auto;
}

/* line 194, ../scss/index.scss */
.strp-nav-button {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 195, ../scss/index.scss */
.strp-nav-button-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #101010;
}

/* line 196, ../scss/index.scss */
.strp-nav-button-icon {
  float: left;
  position: relative;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* line 197, ../scss/index.scss */
.strp-close {
  position: absolute;
  width: 48px;
  height: 48px;
  cursor: pointer;
  -moz-user-select: none;
}

/* line 198, ../scss/index.scss */
.strp-close-background, .strp-close-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 26px;
  width: 26px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* line 199, ../scss/index.scss */
.strp-close-background {
  opacity: 0.8;
  background-color: #101010;
}

/* line 200, ../scss/index.scss */
.strp-close:hover .strp-close-background {
  background-color: #161616;
}

/* line 201, ../scss/index.scss */
.strp-spinner-move {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 48px;
  width: 0px;
  overflow: visible !important;
}

/* line 202, ../scss/index.scss */
.strp-spinner {
  width: 48px;
  height: 48px;
  float: left;
  position: relative;
}

/* line 203, ../scss/index.scss */
.strp-spinner-rotate, .strp-spinner-frame {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* line 204, ../scss/index.scss */
.strp-spinner-line {
  position: absolute;
  left: 50%;
  top: 15px;
  width: 2px;
  margin-left: -1px;
  height: 3px;
  border-radius: 1px;
  z-index: 80;
  color: inherit;
}

/* line 205, ../scss/index.scss */
.strp-window-skin-strip .strp-nav-button-background {
  background-color: transparent;
}

/* line 206, ../scss/index.scss */
.strp-window-skin-strip .strp-nav-previous .strp-nav-button-icon {
  background-image: url("_img/previous.svg");
}

/* line 207, ../scss/index.scss */
.strp-window-skin-strip .strp-nav-next .strp-nav-button-icon {
  background-image: url("_img/next.svg");
}

/* line 208, ../scss/index.scss */
.strp-window-skin-strip .strp-nav .strp-nav-button-icon {
  opacity: 0.6;
}

/* line 209, ../scss/index.scss */
.strp-window-skin-strip .strp-nav:hover .strp-nav-button-icon, .strp-window-skin-strip .strp-nav-hover .strp-nav-button-icon {
  opacity: 1;
}

@media all and (max-width: 375px) and (orientation: portrait), all and (max-height: 375px) and (max-width: 667px) {
  /* line 211, ../scss/index.scss */
  .strp-window-skin-strip .strp-nav {
    width: 48px;
    height: 60px;
    margin: -30px 5px 0px;
  }

  /* line 212, ../scss/index.scss */
  .strp-window-skin-strip .strp-nav-previous .strp-nav-button-icon {
    background-image: url("_img/previous-small.svg");
  }

  /* line 213, ../scss/index.scss */
  .strp-window-skin-strip .strp-nav-next .strp-nav-button-icon {
    background-image: url("_img/next-small.svg");
  }
}
/* line 215, ../scss/index.scss */
.strp-window-skin-strip .strp-close .strp-close-icon {
  background-image: url("close.svg");
  opacity: 0.8;
}

/* line 216, ../scss/index.scss */
.strp-window-skin-strip .strp-close:hover .strp-close-icon {
  opacity: 1;
}

/* line 217, ../scss/index.scss */
.social.channel a {
  font-size: 16px;
  position: relative;
  color: #ccc9bf;
}

/* line 218, ../scss/index.scss */
.social.channel a:hover {
  color: white;
  -webkit-transition: color 0.15s ease-in-out 0s;
          transition: color 0.15s ease-in-out 0s;
}

/* line 219, ../scss/index.scss */
.social.channel div {
  padding: 6px 0;
}

/* line 220, ../scss/index.scss */
.social.channel > a:first-child {
  padding-top: 4px;
}

/* line 221, ../scss/index.scss */
.firebugResetStyles {
  z-index: 2147483646 !important;
  top: 0px !important;
  left: 0px !important;
  display: block !important;
  border: 0px none !important;
  margin: 0px !important;
  padding: 0px !important;
  outline: 0px none !important;
  min-width: 0px !important;
  max-width: none !important;
  min-height: 0px !important;
  max-height: none !important;
  position: fixed !important;
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
  -webkit-transform-origin: 50% 50% 0px !important;
          transform-origin: 50% 50% 0px !important;
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: none repeat scroll 0% 0% transparent !important;
  pointer-events: none !important;
  white-space: normal !important;
}

/* line 222, ../scss/index.scss */
style.firebugResetStyles {
  display: none !important;
}

/* line 223, ../scss/index.scss */
.firebugResetStyles:before, .firebugResetStyles:after {
  content: "" !important;
}

/* line 224, ../scss/index.scss */
.firebugResetStyles {
  z-index: 2147483646 !important;
  top: 0px !important;
  left: 0px !important;
  display: block !important;
  border: 0px none !important;
  margin: 0px !important;
  padding: 0px !important;
  outline: 0px none !important;
  min-width: 0px !important;
  max-width: none !important;
  min-height: 0px !important;
  max-height: none !important;
  position: fixed !important;
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
  -webkit-transform-origin: 50% 50% 0px !important;
          transform-origin: 50% 50% 0px !important;
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: none repeat scroll 0% 0% transparent !important;
  pointer-events: none !important;
  white-space: normal !important;
}

/* line 225, ../scss/index.scss */
style.firebugResetStyles {
  display: none !important;
}

/* line 226, ../scss/index.scss */
.firebugResetStyles:before, .firebugResetStyles:after {
  content: "" !important;
}

/* line 227, ../scss/index.scss */
.firebugResetStyles {
  z-index: 2147483646 !important;
  top: 0px !important;
  left: 0px !important;
  display: block !important;
  border: 0px none !important;
  margin: 0px !important;
  padding: 0px !important;
  outline: 0px none !important;
  min-width: 0px !important;
  max-width: none !important;
  min-height: 0px !important;
  max-height: none !important;
  position: fixed !important;
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
  -webkit-transform-origin: 50% 50% 0px !important;
          transform-origin: 50% 50% 0px !important;
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: none repeat scroll 0% 0% transparent !important;
  pointer-events: none !important;
  white-space: normal !important;
}

/* line 228, ../scss/index.scss */
style.firebugResetStyles {
  display: none !important;
}

/* line 229, ../scss/index.scss */
.firebugResetStyles:before, .firebugResetStyles:after {
  content: "" !important;
}

/* line 230, ../scss/index.scss */
.firebugResetStyles {
  z-index: 2147483646 !important;
  top: 0px !important;
  left: 0px !important;
  display: block !important;
  border: 0px none !important;
  margin: 0px !important;
  padding: 0px !important;
  outline: 0px none !important;
  min-width: 0px !important;
  max-width: none !important;
  min-height: 0px !important;
  max-height: none !important;
  position: fixed !important;
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
  -webkit-transform-origin: 50% 50% 0px !important;
          transform-origin: 50% 50% 0px !important;
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: none repeat scroll 0% 0% transparent !important;
  pointer-events: none !important;
  white-space: normal !important;
}

/* line 231, ../scss/index.scss */
style.firebugResetStyles {
  display: none !important;
}

/* line 232, ../scss/index.scss */
.firebugResetStyles:before, .firebugResetStyles:after {
  content: "" !important;
}

/* line 234, ../scss/index.scss */
.inner article footer .right a {
  font-size: 14px;
}
