.iconfont { font-family: "iconfont" ! important; font-size: 16px; font-style: normal; -moz-osx-font-smoothing: grayscale; }
.headtop .iconfont { display: inline-block; float: left; height: 32px; line-height: 32px; margin-top: 17px; padding: 0px; text-align: center; vertical-align: middle; margin-right: 22px; width: 32px; color: rgba(255, 255, 255, 0.5); }
.headtop .iconfont:hover { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1); }
.triangle { width: 0px; height: 0px; border-style: solid dashed dashed; position: relative; vertical-align: -15px; margin-left: 10px; border-width: 5px; color: rgba(255, 255, 255, 0.5); border-color: rgba(255, 255, 255, 0.5) transparent transparent; }
.headtop .iconnow { background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.2); }
.headtop { height: 66px; line-height: 66px; padding-left: 30px; background: none repeat scroll 0% 0% rgb(52, 56, 60); }
.icon-earth:before { content: ""; font-size: 18px; }
.icon-menu:before { content: ""; }
.icon-clock:before { content: ""; }
.icon-search:before { content: ""; font-size: 17px; }
.icon-talk12:before { content: ""; }
#menu-footer li a{
    font-size:12px;
}
._007 {                                                                                                                   
    float:right;                                                                                                          
}                                                                                                                         
._008 {                                                                                                                   
    margin-right:16px;                                                                                                    
}                                                                                                                         
._009 {                                                                                                                   
    background:none repeat scroll 0% 0% transparent;                                                                      
    color:rgb(111, 111, 111);                                                                                             
    margin-right:4px;                                                                                                     
}                                                                                                                         
#content ._010 {                                                                                                                   
    border-bottom:1px solid;                                                                                              
    margin:0px 3px;                                                                                                       
    font-size:16px;
} 
._011 {
    background:none repeat scroll 0% 0% rgb(30, 34, 38);
    color:rgba(255, 255, 255, 0.5);
    display:block;
    float:right;
    height:66px;
    line-height:66px;
    padding:0px 14px 0px 15px;
}
._012 {
    background:url("http://att.x2.hiapk.com/forum/201302/13/133834iom8npnwwiniq1pq.jpg") repeat scroll 0px 0px / cover  transparent;
    box-shadow:0px 0px 12px rgba(0, 0, 0, 0.5) inset;
    display:inline-block;
    height:42px;
    margin-right:11px;
    margin-top:0px;
    vertical-align:-16px;
    width:42px;
}
._013 {
    background:none repeat scroll 0px 0px rgba(150, 0, 0, 0.9);
    border-radius:12px;
    border:1px solid;
    font-family:Open Sans;
    font-size:12px;
    font-weight:bold;
    line-height:21px;
    margin-left:-7px;
    margin-top:-3px;
    padding:0px 7px;
    position:absolute;
    transform:scale(0.8);
}
#post-42 .post-body p a{
    font-size:16px;
}
