/* line 2, ../../../scss/798/login0.scss */
body {
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.29804), rgba(0, 0, 0, 0.95294));
  background-image: radial-gradient(rgba(0, 0, 0, 0.29804), rgba(0, 0, 0, 0.95294));
  background-color: #008;
}

/* line 6, ../../../scss/798/login0.scss */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 11, ../../../scss/798/login0.scss */
#_798 {
  -webkit-user-select: none;
          user-select: none;
  height: 100%;
  width: 100%;
}
/* line 16, ../../../scss/798/login0.scss */
#_798 .head {
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
}
/* line 22, ../../../scss/798/login0.scss */
#_798 .head .input {
  left: 50%;
  margin-left: -136px;
  margin-top: 3em;
}
/* line 26, ../../../scss/798/login0.scss */
#_798 .head .input input {
  width: 190px;
  padding: 1em;
  border: 0;
}
/* line 33, ../../../scss/798/login0.scss */
#_798 .head h1 {
  font-size: 4.72em;
}
/* line 34, ../../../scss/798/login0.scss */
#_798 .head h2 {
  font-size: 2.29em;
}
/* line 35, ../../../scss/798/login0.scss */
#_798 .head h1, #_798 .head h2 {
  font-weight: normal;
}
/* line 36, ../../../scss/798/login0.scss */
#_798 .head h3, #_798 .head h2 {
  visibility: hidden;
}
/* line 37, ../../../scss/798/login0.scss */
#_798 .head h1 {
  text-shadow: 3px -3px 0px rgba(155, 155, 155, 0.5);
}
/* line 40, ../../../scss/798/login0.scss */
#_798 .head h2 {
  text-shadow: 2px -2px 0px rgba(155, 155, 155, 0.5);
}
/* line 43, ../../../scss/798/login0.scss */
#_798 .head h1 span, #_798 .head h2 span, #_798 .head h3 span {
  cursor: normal;
}
/* line 46, ../../../scss/798/login0.scss */
#_798 .head h3 {
  opacity: .8;
  font-size: 1.04em;
}
/* line 47, ../../../scss/798/login0.scss */
#_798 .head .bar {
  margin-top: 3.6em;
  margin-left: 10px;
}
/* line 50, ../../../scss/798/login0.scss */
#_798 .head .bar b {
  font-weight: normal;
  margin: 0 19px;
  color: #999;
}
/* line 51, ../../../scss/798/login0.scss */
#_798 .head .bar a {
  color: #fff;
}
/* line 52, ../../../scss/798/login0.scss */
#_798 .head .bar .primary, #_798 .head .bar .basic {
  width: 170px;
  height: 46px;
  padding: 0;
  vertical-align: top;
  line-height: 44px;
  position: relative;
  z-index: 1;
}
/* line 61, ../../../scss/798/login0.scss */
#_798 .head .bar .ui.button.basic {
  margin-left: 1.55em;
}
/* line 64, ../../../scss/798/login0.scss */
#_798 .head .bar .link:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}
