
/* junge-regular - latin */
@font-face {
font-family: 'Junge';
src: url('//cdn.797.website/static/lib/font/junge/junge-v4-latin-regular.eot'); /* IE9 Compat Modes */
src: local('Junge'), local('Junge-Regular'),
url('//cdn.797.website/static/lib/font/junge/junge-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('/static/lib/font/junge/junge-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
url('//cdn.797.website/static/lib/font/junge/junge-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
url('//cdn.797.website/static/lib/font/junge/junge-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
url('//cdn.797.website/static/lib/font/junge/junge-v4-latin-regular.svg#Junge') format('svg'); /* Legacy iOS */
}


/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  src: url('//cdn.797.website/static/lib/font/lato/lato-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('//cdn.797.website/static/lib/font/lato/lato-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/lib/font/lato/lato-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//cdn.797.website/static/lib/font/lato/lato-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//cdn.797.website/static/lib/font/lato/lato-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//cdn.797.website/static/lib/font/lato/lato-v11-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
